{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "node": true,
    "commonjs": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,
    "no-console": "off",
    "no-undef": "error",
    // "@typescript-eslint/ban-ts-comment": "off",
    // "@typescript-eslint/ban-types": "off",
    // "@typescript-eslint/interface-name-prefix": "off",
    // "@typescript-eslint/explicit-function-return-type": "off",
    // "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "jest/prefer-strict-equal": "error"
  },
  "ignorePatterns": "*.config.js"
}